@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", system-ui, -apple-system, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
      background: linear-gradient(
      to top,
      #010e22 0%,
      #010e22 70%,
      rgba(1, 14, 34, 0.97) 90%,
      rgba(1, 14, 34, 1) 100%
    ),
    radial-gradient(ellipse at center, #010e22 60%, #000 100%);
}

:root {
  --color-accent: #64ffda;
  --font-thin: 100;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;
}

.section-title {
  font-size: 2.6rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 48px;
  text-shadow: 0 0 18px #64ffda88;
  letter-spacing: 2px;
}